{% include "application/head.html" %}
<div id="container">
    <ol class="breadcrumb">
        <li><a href="/app/entities/">Entities</a></li>
        <li class="active" id="pgtitle">{{entity}}{%if isTracked%} <span id="trackicon" class="glyphicon glyphicon-ok-circle"style="color:Lime" aria-hidden="true"></span> {%endif%}</li>
        {% csrf_token %}
        {%if isTracked%}
        <input type="button" class="btn btn-default btn-xs pull-right" id="btnTrack" name="{{entity}}" value="Untrack" />
        {%else%}
        <input type="button" class="btn btn-default btn-xs pull-right" id="btnTrack" name="{{entity}}" value="Track" />
        {%endif%}
    </ol>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-time">
                <h4 class="panel-title">Rate of tweets</h4>
            </div>
            <div class="panel-body" id="panel-locations-body"><div id="TimeChart"></div>
            </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="panel-statistics"><h4 class="panel-title">Entity Statistics</h4></div>
                <div class="panel-body">
                    <canvas id="myChart"></canvas>
                </div>
                <table class="table table-striped">
                <thead><tr><th>Class</th><th>Count</th></tr></thead>
                <tbody id="stats-body">
                </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="panel-location" data-toggle="tooltip" data-placement="top" title="NB: Not all tweets provide location data">
                    <h4 class="panel-title">Locations</h4>
                </div>
                <div class="panel-body" id="panel-locations-body">
                    <div id="locationChart"></div>
                    <select id="location-filter" class="form-control">
                        <option value="all">all</option>
                    </select>
                </div>
                <table class="table table-striped">
                    <thead><tr><th>Location</th><th>Tweets</th></tr></thead>
                        <tbody id="location-table">
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panel-tweets">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Twitter Data</a>
            </h4>
            
        </div>
        <div id="collapseFour" class="panel-collapse collapse collapse" role="tabpanel" aria-labelledby="panel-tweets">
            <div class="panel-body" id="panel-tweets-body">
                
                <select id="tweet-filter" class="form-control">
                    <option value="all">all</option>
                </select>
                <div id="tweets"></div>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="/static/application/pace.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/static/application/chart.js"></script>
<script src="/static/application/entity.js"></script>
</body>
</html>
