{% include "application/head.html" %}
<div id="container">
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Summary</h3></div><div class="panel-body" id="panel-summary"></div>
            </div>
            {% if user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Entities your Tracking</h3>
                </div>
                {%if tracks %}
                <table class="table table-striped">
                    
                    <tbody id="tracked-entities-body">
                        
                        {%for e in tracks%}
                        <tr><td><a href="/app/entity/?id={{e.name}}">{{e.name}}</a></td></tr>
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
                {%else%}
                <div class="panel-body"><p> You are not tracking any entities </p></div>
                {%endif%}
            </div>
            {%endif%}
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Collection Growth Rate</h3>
                </div>
                <div class="panel-body">
                    <div id="growth-chart"</div>
                </div>
            </div>
            
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Miscellaneous Entities</h3>
                </div>
                <table class="table table-striped">
                    <tbody id="entities-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/static/application/pace.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/static/application/chart.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/application/overview.js">></script>
</body>
</html>
