{% include "application/head.html" %}
<div id="container">
    <div class="panel panel-default">
    <div class="panel-body">

        <div class="page-header">
            <h1>GTBT Management <small> Manage Installed classifiers, collections, etc</small></h1>
        </div>

    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-body">
            <p>possible action goes here</p>
        </div>

    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/static/application/chart.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>


function buildPage(data){
   for (i = 0; i < data.length; i++){
        console.log(data[i]);
        row = "<tr><td><a href=\"/app/entity/?id="+data[i]+"\">"+data[i]+"</a></td></tr>";
        $("#entities-body").append(row);
   }
   
}
$(document).ready(function(){
    console.log(location);
    url = "http://localhost:8888/entities/";
    $.getJSON(url,function(data) { buildPage(data);});
});
</script>
</body>
</html>
